## Data cleaning

In [1]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv("../data/processed/taiwan_credit.csv")
print(df.head())
print(df.info())

  Unnamed: 0         X1   X2         X3        X4   X5     X6     X7     X8  \
0         ID  LIMIT_BAL  SEX  EDUCATION  MARRIAGE  AGE  PAY_0  PAY_2  PAY_3
1          1      20000    2          2         1   24      2      2     -1
2          2     120000    2          2         2   26     -1      2      0
3          3      90000    2          2         2   34      0      0      0
4          4      50000    2          2         1   37      0      0      0

      X9  ...        X15        X16        X17       X18       X19       X20  \
0  PAY_4  ...  BILL_AMT4  BILL_AMT5  BILL_AMT6  PAY_AMT1  PAY_AMT2  PAY_AMT3
1     -1  ...          0          0          0         0       689         0
2      0  ...       3272       3455       3261         0      1000      1000
3      0  ...      14331      14948      15549      1518      1500      1000
4      0  ...      28314      28959      29547      2000      2019      1200

        X21       X22       X23                           Y
0  PAY_AMT4  PAY_AMT5  PAY_AMT6  default payment next month
1         0         0         0                           1
2      1000         0      2000                           1
3      1000      1000      5000                           0
4      1100      1069      1000                           0

[5 rows x 25 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30001 entries, 0 to 30000
Data columns (total 25 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  30001 non-null  object
 1   X1          30001 non-null  object
 2   X2          30001 non-null  object
 3   X3          30001 non-null  object
 4   X4          30001 non-null  object
 5   X5          30001 non-null  object
 6   X6          30001 non-null  object
 7   X7          30001 non-null  object
 8   X8          30001 non-null  object
 9   X9          30001 non-null  object
 10  X10         30001 non-null  object
 11  X11         30001 non-null  object
 12  X12         30001 non-null  object
 13  X13         30001 non-null  object
 14  X14         30001 non-null  object
 15  X15         30001 non-null  object
 16  X16         30001 non-null  object
 17  X17         30001 non-null  object
 18  X18         30001 non-null  object
 19  X19         30001 non-null  object
 20  X20         30001 non-null  object
 21  X21         30001 non-null  object
 22  X22         30001 non-null  object
 23  X23         30001 non-null  object
 24  Y           30001 non-null  object
dtypes: object(25)
memory usage: 5.7+ MB
None

In [ ]:
df = df.drop(columns=["Unnamed: 0"])
df.head()
print(df.isna().sum())

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
1,20000,2,2,1,24,2,2,-1,-1,-2,...,0,0,0,0,689,0,0,0,0,1
2,120000,2,2,2,26,-1,2,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
3,90000,2,2,2,34,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
4,50000,2,2,1,37,0,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0

In [ ]:
df.columns = df.iloc[0]
df = df.iloc[1:].copy()
df.reset_index(drop=True, inplace=True)

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
1,20000,2,2,1,24,2,2,-1,-1,-2,...,0,0,0,0,689,0,0,0,0,1
2,120000,2,2,2,26,-1,2,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
3,90000,2,2,2,34,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
4,50000,2,2,1,37,0,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
5,50000,1,2,1,57,-1,0,-1,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 24 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   LIMIT_BAL                   30000 non-null  object
 1   SEX                         30000 non-null  object
 2   EDUCATION                   30000 non-null  object
 3   MARRIAGE                    30000 non-null  object
 4   AGE                         30000 non-null  object
 5   PAY_0                       30000 non-null  object
 6   PAY_2                       30000 non-null  object
 7   PAY_3                       30000 non-null  object
 8   PAY_4                       30000 non-null  object
 9   PAY_5                       30000 non-null  object
 10  PAY_6                       30000 non-null  object
 11  BILL_AMT1                   30000 non-null  object
 12  BILL_AMT2                   30000 non-null  object
 13  BILL_AMT3                   30000 non-null  object
 14  BILL_AMT4                   30000 non-null  object
 15  BILL_AMT5                   30000 non-null  object
 16  BILL_AMT6                   30000 non-null  object
 17  PAY_AMT1                    30000 non-null  object
 18  PAY_AMT2                    30000 non-null  object
 19  PAY_AMT3                    30000 non-null  object
 20  PAY_AMT4                    30000 non-null  object
 21  PAY_AMT5                    30000 non-null  object
 22  PAY_AMT6                    30000 non-null  object
 23  default payment next month  30000 non-null  object
dtypes: object(24)
memory usage: 5.5+ MB

In [ ]:
df = df.rename(columns={"default payment next month": "DEFAULT"})
df = df.apply(pd.to_numeric)

In [24]:
df.describe()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,DEFAULT
count,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,...,30000.000000,30000.000000,30000.000000,30000.000000,3.000000e+04,30000.00000,30000.000000,30000.000000,30000.000000,30000.000000
mean,167484.322667,1.603733,1.853133,1.551867,35.485500,-0.016700,-0.133767,-0.166200,-0.220667,-0.266200,...,43262.948967,40311.400967,38871.760400,5663.580500,5.921163e+03,5225.68150,4826.076867,4799.387633,5215.502567,0.221200
std,129747.661567,0.489129,0.790349,0.521970,9.217904,1.123802,1.197186,1.196868,1.169139,1.133187,...,64332.856134,60797.155770,59554.107537,16563.280354,2.304087e+04,17606.96147,15666.159744,15278.305679,17777.465775,0.415062
min,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.00000,0.000000,0.000000,0.000000,0.000000
25%,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,2326.750000,1763.000000,1256.000000,1000.000000,8.330000e+02,390.00000,296.000000,252.500000,117.750000,0.000000
50%,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,19052.000000,18104.500000,17071.000000,2100.000000,2.009000e+03,1800.00000,1500.000000,1500.000000,1500.000000,0.000000
75%,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,54506.000000,50190.500000,49198.250000,5006.000000,5.000000e+03,4505.00000,4013.250000,4031.500000,4000.000000,0.000000
max,1000000.000000,2.000000,6.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,8.000000,...,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.00000,621000.000000,426529.000000,528666.000000,1.000000

In [ ]:
df["PAY_0"].value_counts() # there is -2 value which its meaning is not documented

PAY_0
 0    14737
-1     5686
 1     3688
-2     2759
 2     2667
 3      322
 4       76
 5       26
 8       19
 6       11
 7        9
Name: count, dtype: int64

In [ ]:
# finding out if -2 in PAY_0 has any special meaning by checking BILL_AMT2 statistics
print(df.loc[df["PAY_2"] == -2, "BILL_AMT2"].median())
print(df.loc[df["PAY_2"] == -2, "BILL_AMT2"].quantile([0.75, 0.9, 0.95, 0.99]))
# median of BILL_AMT2 for PAY_2 = -2 is 0, however the 90th percentile is quite high at 10830.10

0.0
0.75      2564.50
0.90     10830.10
0.95     23301.75
0.99    100492.60
Name: BILL_AMT2, dtype: float64
PAY_2
-2        0.0
-1     2035.0
 0    48428.0
 1     -338.0
 2    27689.0
 3    24481.0
 4    27371.0
 5    37936.0
 6    77765.0
 7    39860.5
 8    25589.0
Name: BILL_AMT2, dtype: float64

In [35]:
print(df.groupby("PAY_2")["BILL_AMT2"].median().sort_index())
print(df.groupby("PAY_2")["BILL_AMT2"].quantile(0.9).sort_index())

PAY_2
-2        0.0
-1     2035.0
 0    48428.0
 1     -338.0
 2    27689.0
 3    24481.0
 4    27371.0
 5    37936.0
 6    77765.0
 7    39860.5
 8    25589.0
Name: BILL_AMT2, dtype: float64
PAY_2
-2     10830.1
-1     21040.6
 0    178376.6
 1     51563.2
 2    128789.8
 3    107598.5
 4    102575.8
 5    201455.6
 6    240686.6
 7    256146.1
 8     25589.0
Name: BILL_AMT2, dtype: float64

In [ ]:
df.groupby("PAY_2")["DEFAULT"].mean().sort_index() # -2 seems to have higher default rate than -1 so we keep it as is

PAY_2
-2    0.182708
-1    0.159669
 0    0.159123
 1    0.178571
 2    0.556150
 3    0.616564
 4    0.505051
 5    0.600000
 6    0.750000
 7    0.600000
 8    0.000000
Name: DEFAULT, dtype: float64

##### Repayment status −2 corresponds to a distinct category whose precise semantics are not specified in the original documentation. Exploratory analysis shows that its default rates are comparable to other non-delinquent repayment states (−1, 0, 1) and clearly separated from delinquent categories. It is therefore retained as a valid non-delinquent in the analysis

In [ ]:
df["EDUCATION"].value_counts()

EDUCATION
2    14030
1    10585
3     4917
5      280
4      123
6       51
0       14
Name: count, dtype: int64

In [38]:
# in the original documentation, EDUCATION values 0, 5, 6 are not defined
# we will group them into "others" category with value 4
df["EDUCATION"] = df["EDUCATION"].replace([0, 5, 6], 4)
df["EDUCATION"].value_counts().sort_index()

EDUCATION
1    10585
2    14030
3     4917
4      468
Name: count, dtype: int64

In [ ]:
df["MARRIAGE"].value_counts()

MARRIAGE
2    15964
1    13659
3      323
0       54
Name: count, dtype: int64

In [40]:
# in the original documentation, MARRIAGE value 0 is not defined
# we will group it into "others" category with value 3
df["MARRIAGE"] = df["MARRIAGE"].replace(0, 3)
df["MARRIAGE"].value_counts().sort_index()

MARRIAGE
1    13659
2    15964
3      377
Name: count, dtype: int64

In [41]:
df["SEX"].value_counts()

SEX
2    18112
1    11888
Name: count, dtype: int64

In [42]:
df[["SEX", "EDUCATION", "MARRIAGE"]].describe()

0               SEX     EDUCATION      MARRIAGE
count  30000.000000  30000.000000  30000.000000
mean       1.603733      1.842267      1.557267
std        0.489129      0.744494      0.521405
min        1.000000      1.000000      1.000000
25%        1.000000      1.000000      1.000000
50%        2.000000      2.000000      2.000000
75%        2.000000      2.000000      2.000000
max        2.000000      4.000000      3.000000

##### Invalid categorical codes in EDUCATION (0, 5, 6) and MARRIAGE (0) were grouped into an “Others” category following common practice in prior analyses. This preserves all observations while avoiding undocumented categories

In [43]:
df.isna().sum()

0
LIMIT_BAL    0
SEX          0
EDUCATION    0
MARRIAGE     0
AGE          0
PAY_0        0
PAY_2        0
PAY_3        0
PAY_4        0
PAY_5        0
PAY_6        0
BILL_AMT1    0
BILL_AMT2    0
BILL_AMT3    0
BILL_AMT4    0
BILL_AMT5    0
BILL_AMT6    0
PAY_AMT1     0
PAY_AMT2     0
PAY_AMT3     0
PAY_AMT4     0
PAY_AMT5     0
PAY_AMT6     0
DEFAULT      0
dtype: int64

In [ ]:
df["DEFAULT"].value_counts(normalize=True)

DEFAULT
0    0.7788
1    0.2212
Name: proportion, dtype: float64

In [48]:
amount_cols = [c for c in df.columns if "AMT" in c]
df[amount_cols].describe().T[["min","max"]]

                min        max
0
BILL_AMT1 -165580.0   964511.0
BILL_AMT2  -69777.0   983931.0
BILL_AMT3 -157264.0  1664089.0
BILL_AMT4 -170000.0   891586.0
BILL_AMT5  -81334.0   927171.0
BILL_AMT6 -339603.0   961664.0
PAY_AMT1        0.0   873552.0
PAY_AMT2        0.0  1684259.0
PAY_AMT3        0.0   896040.0
PAY_AMT4        0.0   621000.0
PAY_AMT5        0.0   426529.0
PAY_AMT6        0.0   528666.0

##### Statement balance variables (BILL_AMT1–BILL_AMT6) can take negative values, reflecting overpayments, refunds, or account credits rather than data errors.

In [51]:
status_cols = [c for c in df.columns if c.startswith("PAY_") and "AMT" not in c]
{col: sorted(df[col].unique()) for col in status_cols}

{'PAY_0': [-2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8],
 'PAY_2': [-2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8],
 'PAY_3': [-2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8],
 'PAY_4': [-2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8],
 'PAY_5': [-2, -1, 0, 2, 3, 4, 5, 6, 7, 8],
 'PAY_6': [-2, -1, 0, 2, 3, 4, 5, 6, 7, 8]}

At this stage, the dataset has been fully cleaned and validated for exploratory data analysis and baseline modeling. All variables are correctly typed, undocumented categories have been addressed, and no observations were removed. Further preprocessing steps will be applied as required by specific modeling approaches.

In [ ]:
df.to_csv("../data/processed/taiwan_credit_cleaned.csv", index=False)